@font-face {
  font-family: 'Whitney Light Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Whitney Light Regular'), url('https://cdn.glitch.com/1973c894-6769-4987-984e-bfd85c060586%2Fwhitneylight.woff') format('woff');
}